/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/backups
/mysql-data
/tools/php-8.4
/tools/php-8.4.zip
/tools/composer.phar
/serve.err.log
/serve.out.log
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
